.container{
    background-color: khaki;
}
.box{
    position: relative;
    display: flex;
    background-color: lightcoral;
    height: 200px;
    width: 600px;
    animation-name: aman1;
    animation-duration: 2s;
    animation-iteration-count:2;
    /* animation-fill-mode: alternate; */
    animation-timing-function: ease-in-out;
    /* animation-delay: 2s; */
    /* animation-direction: alternate; */
}
@keyframes aman{
    from{
        width: 200px;
    }
    to{
        width: 1400px;
    }
}
@keyframes aman1{
    0%{
        top: 0px;
        left:0px;
    }
    25%{
        top: 0px;
        left: 200px;
    }
    75%{
        top: 250px;
        left: 350px;
    }
    100%{
        top: 250px;
        left: 0px;
    }
}