/* navigation */
#navbar::before{
    width: 119%;
}
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 9px;

}


/* home section */
#home{
    height: 385px;
    padding: 11px 20px;

}
#home::before{
    height: 561px;
    width: 120%;
}
#home p{
    font-size: 14px;
}
#btn{
    padding: 4px 18px;
}

/* services section */
#services{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secvices.box{

}

/* clients section */
#clients-section::before{
    height: 25%;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 50px;
    padding: 4px;
    height: 80px;
}
.client-item {
    padding: 0px;
}

/* contact us section */

/* footer section */

/* utility section */
.h-primary{
    font-size:34px ;
}
.h-secondary {
    font-size: 22px;
}