.box{
    display: inline-block;
    background-color: whitesmoke;
    height: 800px;
    width: 100%;
}
.content{
    height: 500px;
    display: grid;
    grid-template-columns: 500px 50px;
    margin: 5%;
}
.name{
    position: relative;
    left: 250px;
    margin:12%;
}
.item1{
    font-family:"Comic Sans MS";
    color: blue;
    font-size: 50px;
}
.item2{
    font-family: sans-serif;
    font-size: 20px;
}

.loginbox{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-items: center;  
    display: grid;
    grid-template-rows:60px 60px 10px 100px 30px ;
    /* grid-row-gap: ; */
    background-color: white;
    margin:50px 300px;
    height: 330px;
    width: 370px; 
}
#email{
    border: 1px solid rgb(201, 195, 195);
    width: 310px;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    padding: 0px 20px;

}
#pass{
    padding: 0px 20px;
    border: 1px solid rgb(201, 195, 195);
    border-radius: 5px;
    font-size: 20px;
    width: 310px;
    height: 45px;
}
 .item3{
    margin: 5px;
}
#login{
    border-radius: 8px; 
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 350px;
    height: 45px;
    background-color: #1877f2;
}
.item6{
    margin: 45px 50px;
    font-size: 16px;
    color: blue;
}
.item7 button{
    border: 0px;
    font-weight: bold;
    border-radius: 8px; 
    font-size: 20px;
    color: white;
    width: 250px;
    height: 50px;
    background-color: #42b72a;
}
